@import "@/assets/styles/typography.scss";
@import "@/assets/styles/color.scss";

* {
  box-sizing: border-box;
}

body,
html {
  @include typo-text(1);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-primary;
  color: $color-secondary;
  margin: 0;
  padding: 0;
}

h1 {
  @include typo-title(3);
}

h2 {
  @include typo-title(3);
}

h3 {
  @include typo-title(2);
}

h4 {
  @include typo-title(2);
}

h5 {
  @include typo-title(1);
}

h6 {
  @include typo-title(1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
  margin-bottom: 0.2em;
}

a,
a:visited,
a:active {
  color: $color-accent;

  &:hover {
    color: lighten($color-accent, 20%);
  }
}
