// base palette
$color-science-blue: #0476d9;
$color-burnt-sienna: #f27e63;
$color-cranberry: #d95284;
$color-gallery: #eeeeee;
$color-mine-shaft: #333333;

// color system
$color-primary: $color-gallery;
$color-secondary: $color-mine-shaft;
$color-accent: $color-cranberry;
