$wrapper-width: 1024px;

$spacing-1: 0.2rem;
$spacing-2: 0.33rem;
$spacing-3: 0.54rem;
$spacing-4: 0.89rem;
$spacing-5: 1.47rem;
$spacing-6: 2.44rem;

$bp-tablet-desktop: 1024px;
$bp-mobile-tablet: 640px;

@mixin wrapper {
  max-width: $wrapper-width;
  margin: auto;
}

@mixin desktop-only {
  @media screen and (min-width: $bp-tablet-desktop) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $bp-mobile-tablet) and (max-width: $bp-tablet-desktop) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: $bp-mobile-tablet) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media screen and (max-width: $bp-tablet-desktop) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media screen and (min-width: $bp-mobile-tablet) {
    @content;
  }
}
